/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 oct 2025, 0:03:55
    Author     : Xoan Veiga
*/
/* Fondo general */
#contenedor {
    -fx-background-color: #f0f8ff;
    -fx-alignment: center;
}

/* Estilo del título */
#titulo {
    -fx-font-size: 36px;
    -fx-text-fill: #1e3d59;
    -fx-font-weight: bold;
}

/* Estilo del botón */
.boton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

.boton:hover {
    -fx-background-color: #45a049;
}